/* Styling for the heading and mugshot */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 3.5rem;
}

.header-content h2 {
  font-size: 2rem;
}

.header-content .scroll-text {
  position: absolute;

}

.header-content .scroll-text h2, span {
  font-size: 2rem;
  font-weight: 700;
  color: transparent;
  /* -webkit-text-stroke: 2px var(--blue-dark); */
  background-image: linear-gradient(var(--blue-dark), var(--blue-light));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0; 
}

.header-content .scroll-text h2::before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 0;
 height: 100%;
 border-right: 2px solid var(--blue-dark);
 z-index: -1 ;
 animation: homeCursor 6s linear infinite;
 animation-delay: 2s;
}

#frame-1 {
  animation: role-1BG-Opacity 24s linear infinite;
  animation-delay: 2s;
}

#frame-2 {
  animation: role-2BG-Opacity 24s linear infinite;
  animation-delay: 2s;
}

#frame-3 {
  animation: role-3BG-Opacity 24s linear infinite;
  animation-delay: 2s;
}

#frame-4 {
  animation: role-4BG-Opacity 24s linear infinite;
  animation-delay: 2s;
}

.role-1 {
  animation: role-1BG 24s linear infinite;
  animation-delay: 2s;
  z-index: 40;
}


.role-2 {
  animation: role-2BG 24s linear infinite;
  animation-delay: 2s;
  z-index: 30;
}
.role-3 {
  animation: role-3BG 24s linear infinite;
  animation-delay: 2s;  
}

.role-4 {
  animation: role-4BG 24s linear infinite;
  animation-delay: 2s;
}


/* Style for the profile picture */
.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.profile-picture img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: .3rem solid var(--blue);
  object-fit: cover;
}

.cut-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .3rem solid var(--background-dark);
  border-bottom: .3rem solid var(--background-dark);
  border-right: .3rem solid var(--blue);
  border-left: .3rem solid var(--blue);
  animation: spinner 32s linear infinite;
}

.profile-picture .cut-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
}

/* Style for the content */
.content {
  text-align: left;
}
.roles-container {
  display: flex;
  flex-direction: column;
}

.scroll-text {
  width: max-content;
}

/* The typing effect */
@keyframes role-1BG {
  0%,
  2.5%,
  25%,
  100% {
    background-position: -20.4rem 0;
  }
  16.25%,
  21.25% {
    background-position: 0 0;
  }
}

@keyframes role-1BG-Opacity {
  0%,
  2.4%,
  26%,
  100% {opacity: 0;}
  2.5%,
  25% {opacity: 1;}
}


@keyframes role-2BG {
  0%,
  27.5%,
  50%,
  100% {
    background-position: -26.7rem 0;
  }
  41.25%,
  46.25% {
    background-position: 0 0;
  }
}
@keyframes role-2BG-Opacity {
  0%,
  27.4%,
  50.1%,
  100% {opacity: 0;}
  27.5%,
  50% {opacity: 1;}
}

@keyframes role-3BG {
  0%,
  52.5%, 
  75%,
  100% {
    background-position: -19.6rem 0;
  }
  66.25%,
  71.25% {
    background-position: 0 0;
  }
}
@keyframes role-3BG-Opacity {
  0%,
  52.4%,
  75.1%,
  100% {opacity: 0;}
  52.5%,
  75% {opacity: 1;}
}

@keyframes role-4BG {
  0%,
  77.5%, 
  100% {
    background-position: -16.6rem 0;
  }
  91.25%,
  96.25% {
    background-position: 0 0;
  }
}
@keyframes role-4BG-Opacity {
  0%,
  77.4%,
  100% {opacity: 0;}
  77.5%,
  99.9% {opacity: 1;}
}

@keyframes homeCursor {
  0%,
  10%, 
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

@keyframes spinner {
  from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(360deg);}
}