/* Style for the profile picture */
.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  
  /* border: 3px solid var(--blue-dark); */
/* } */

.profile-picture img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: 3px solid var(--blue-dark);
  border-radius: 50%;
  margin: 10px;
}

@keyframes spin {
  from {transform: translate(-50%, -50%) rotate(0);}
  to   {transform: translate(-50%, -50%) rotate(360deg);}
}
.rotating-border {
  --border-radius: 1rem;
  --border-size: 0.5rem;
  --padding: 1rem;
  
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
  display: inline-block;
  
  &::before {
    content: '';
    display: block;
    background: var(--border-bg);
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -2;
    animation: spin 5s linear infinite;
  }
  &--reverse::before{
    animation-direction: reverse;
  }
  &::after{
    content: '';
    position: absolute;
    inset: var(--border-size);
    background: white;
    z-index: -1;
    border-radius: calc(var(--border-radius) - var(--border-size));
  }
}

.rotating-border--blue-back{
  --border-radius: 100%;
  --border-bg: conic-gradient(
    var(--blue-dark) 0.1666turn, 
    var(--background-dark) 0.1666turn 0.3333turn, 
    var(--blue-dark) 0.3333turn 0.5turn, 
    var(--background-dark) 0.5turn 0.6666turn, 
    var(--blue-dark) 0.6666turn 0.8333turn, 
    var(--background-dark) 0.8333turn
  );
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

/* Style for the content */
.content {
  text-align: left;
}

/* Add any additional styling you need for the rest of the content */

.typing-text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */

}

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */

/* .anim-typewriter{
  animation: typewriter 4s steps(89) 1s 1 normal both,
             blinkTextCursor 5000ms steps(89) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
} */