@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-size: 1.5rem;
}


:root {
  /* Primary Colors */
  --blue-light: #7df9ff;
  --blue:  #00bfff;
  --blue-dark: #0087e0;

  /* Secondary Colors */
  --green-light: #90ee90;
  --green: #00ff00;
  --green-dark: #006400;

  /* Background Colors */
  --background-light: #F5F5F5;
  --background-dark: #081b29;
  --background-secondary: #112e42;

  /* Text Colors */
  --text-light: #FFFFFF; 
  --text-dark: #333333; 
  
  /* Accents */
  --cyan-dark: #0072c3;
  --cyan: #1192e8;
  --cyan-light: #33b1ff;
}


html {
  overflow-x: hidden;
}

body {
  background-color: var(--background-dark);
  color: var(--text-light);
  margin: 0;
}

.view {
  height: 100vh;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding: 20px;
  color: var(--text-light);
  width: 70%;
  margin: auto;
}