.percentage {
  fill: var(--text-dark);
  font-weight: 300;
}

.skill-label {
  font-weight: 500;
}

svg text {
  fill: var(--text-light);
  font-size:  .1rem;
}

.gauge-col {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gauge {
  width: 100%;
  height: 2rem;
}

.gauge:hover #gaugeMeasure {
  fill: var(--text-dark);
}